**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/dist
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/README.md
**/.env*
**/web
**/scripts
**/*.md
**/.DS_Store
**/Thumbs.db
**/*.log
**/coverage
**/.pytest_cache
**/__pycache__
**/*.pyc
**/.mypy_cache

